{
  "presets": [
    "env",
    "react-app"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./config/webpack.config.dev.js"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./config/webpack.config.prod.js"
          }
        ],
        "transform-remove-console"
      ]
    }
  }
}