{
  "presets": [
    "env",
    "react-app",
    "es2015"
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    [
      "resolver",
      {
        "resolveDirs": [
          "src"
        ]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}